/* --VARIABLES-- */
:root {
    --textColor:  #fff; 
    --primaryColor: #13293d; 
    --backgroundColor: rgb(156, 190, 180); 
}

/* --STYLING-- */

/* add html class default text sizing and default text properties*/

/* html, body {
    height: 100%;
} */

h1,
h2,
h3 {
    line-height: 1.5;
    font-size: 12.5;
}

body {
    background-color: var(--backgroundColor);
    /* add body text formatting */
}

/* fix extra margin space created by flex */

header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    background: var(--primaryColor);
    color: var(--textColor);
}

.header-nav {
    display: flex;
    background-color: var(--backgroundColor);
}

.header-nav a {
    color: var(--textColor);
    padding: 10px 30px;
    text-decoration: none;
    text-align: center;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    background-image: url('./images/geometric-pattern.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 75px;
    padding-bottom: 75px;

    position: relative;
    text-align: center;
}

.banner-container{
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

 .banner-subtitle {

    background-color: var(--backgroundColor);
    /* Positioning on image */
    position: absolute;
    bottom: 8px;
    right: 16px;
} 

/* --QUERIES-- */

@media screen and (max-width: 976px){
    .header-nav {
        flex-direction: column;
    }
}