/* --VARIABLES-- */
:root {
    --whiteColor:  #E7DFDD;
    --orangeColor: orangered;  
    --primaryColor: #4171F6; 
    --secondaryColor: #A239CA;
    --backgroundColor: #0E0B16;

    --headerGradient: linear-gradient(0deg, rgba(14,11,22,1) 0%, rgba(65,113,246,1) 100%);
    --contentGradient: linear-gradient(90deg, rgba(14,11,22,1) 40%, rgba(231,223,221,1) 100%);
    --titleGradient: linear-gradient(90deg, rgba(14,11,22,1) 40%, rgba(162,57,202,1) 70%, rgba(65,113,246,1) 100%);
    --refGradient: linear-gradient(90deg, rgba(162,57,202,1) 40%, rgba(65,113,246,1) 100%);
}

/* --STYLING-- */

/* add html class default text sizing and default text properties*/

/* html, body {
    height: 100%;
} */

h1,
h2,
h3,
h4 {
    line-height: 1.5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--backgroundColor);
}                   

header {
    display: flex;
    flex: 1 100%;

    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    outline: 2px dashed var(--secondaryColor);
}

header h1 {
    /* text-shadow: 0.1rem 0.1rem var(--whiteColor) ; */
    color: var(--primaryColor);
}

.header-title::before {
    content: '\1F30C';
}

.header-nav {
    display: flex;
    background-color: var(--backgroundColor);
}

.header-nav a {
    color: var(--whiteColor);
    font-family: fantasy;

    padding: 10px 30px; 
    text-decoration: none;
    text-align: center;

    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    box-shadow: 0.1rem 0.1rem var(--whiteColor);
    background: var(--refGradient);
}

.banner {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;

    background-image: url('./images/grid1.png'); 
    background-repeat: repeat;
    background-size: auto;

    padding-top: 75px;
    padding-bottom: 183px;

    position: relative;
}

.banner-container{
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
}

.banner-subtitle {
    text-align: center;
    font-size: 32;

    text-shadow: 1px 1px var(--whiteColor);
    color: var(--orangeColor);
    background-color: transparent;

    /* Positioning on image */
    position: absolute;
    bottom: 8px;
    right: 16px;
} 

.profile-elements {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.profile-elements > * {
    padding: 1rem;
    margin: 1rem;

    transition: flex-basis 500ms linear;;
}

.profile-banner {
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;

    background-image: url('./images/grid1.png'); 
    background-repeat: repeat;
    background-size: auto;

    padding-top: 75px;
    padding-bottom: 56px;

    position: relative;
}

.profile-title {
    flex: 1 20%;
    background: var(--titleGradient);
    box-shadow: 0.5rem 0.5rem;
    transform: skew(-15deg);
    height: auto;
}

.profile-header {
    color: var(--whiteColor);
    transform: skew(15deg);
    text-align: right;
    margin-right: 2rem;
}

.profile-header::before {
    margin-left: 1rem;
    content: '\1F310';
}

.profile-content {
    flex: 3 3 70%;
    background: var(--contentGradient);
}

.about-me {
    height: auto;
}

.about-me pre {
    display: flex;
    flex-wrap: wrap;    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5rem;
    color: var(--whiteColor);
}

.work {
    height: 100rem;
}

.contact-me {
    height: auto;
}

.contact-me > *{
    display: flex;
    justify-content: center;
}

.profile-contacts a {
    color: var(--whiteColor);
    font-family: fantasy;
    padding: 10px 10px;

    text-decoration: none;
    text-align: center;
    
    margin: 3rem;

    background: var(--refGradient);
    box-shadow: 0.1rem 0.1rem var(--whiteColor);
}

footer h4 {
    text-shadow: 1px 1px var(--whiteColor);
    color: var(--orangeColor);
}

/* --QUERIES-- */

@media screen and (max-width: 1414px){

    .header-nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {

    .profile-contacts {
        flex-direction: column;
    }
}
